<div class="main">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" > <img class="logo" src={{logo}} alt="logo"/></a>
        <button class="btn navbar-toggler" type="submit"></button>
  
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/batiment"
                >Bâtiment</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fabrication">Fabrication</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/alimentation">Alimentation</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Rechercher"
              aria-label="Search"
              name="search"
              (input)="searchArtisans($event)"
            />
            
          </form>
        </div>
      </div>
    </nav>
 
  
