<div class="footer text-center">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="location">
    
            <p>101 cours de Charlemagne <br />
            CS 20033 <br />
            69269 LYON CEDEX <br />
            FRANCE
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <img
          class="logo"
          src={{logo}}
          alt="Nom du site et nom de la région qui a lancé ce site"
        />
      </div>
      <div class="col-md-4 mb-4">
        <div class="link-footer">
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-arrow-right"></i>
              <a class="legal-notices" href="#">Mentions légales</a>
            </li>
            <li>
              <i class="fa fa-arrow-right"></i>
              <a class="personnal-datas" href="#">Données personnelle</a>s
            </li>
            <li>
              <i class="fa fa-arrow-right"></i>
              <a class="accessibility" href="#">Accessibilité</a>
            </li>
            <li>
              <i class="fa fa-arrow-right"></i>
              <a class="cookies" href="#">Cookies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
