<div class="main">
  <div class="main-fiche-artisan">
    <div class="title-fiche-artisan">
      <hr />
      <h1>Fiche artisan</h1>
    </div>
    <div class="artisan container">
      <div class="picture-title row mx-auto">
        <div class="picture col-sm-6">
          <img
            class="image"
            src="{{ favicon }}"
            alt="image de société de l'artisan"
          />
        </div>
        <div class="details col-sm-6 my-auto">
          <h2 class="title-artisan">{{ artisan?.name }}</h2>
          <h3 class="job">{{ artisan?.specialty }}</h3>
          <div class="opinion">
            <p>Avis</p>
            <p>{{artisan?.note}}/5</p>
          <p class="location">
            <strong>Localisation</strong> : {{ artisan?.location }}
          </p>
          <p class="site">{{ artisan?.website }}</p>
        </div>
      </div>
      <div class="container container-description">
        <div class="div-description">
          <p class="description">
            <strong>A propos</strong> : {{ artisan?.about }}
          </p>
        </div>
      </div>
      <div class="container-contact">
        <h4>Formulaire de contact :</h4>
        <form
          [formGroup]="contactForm"

          (ngSubmit)="onSubmit($event)"
          method="post"
          class="contact_form"
        >
          <div class="first-name input">
            <input
              type="text"
              class="first-name_box"
              name="firstname"
              formControlName="firstname"
              placeholder="Votre prénom"
              autocomplete="given-name"
              required
            />
          </div>
          <div class="last-name input">
            <input
              type="text"
              class="last-name_box"
              name="lastname"
              formControlName="lastname"
              placeholder="Votre nom"
              autocomplete="family-name"
              required
            />
          </div>
          <div class="email input">
            <input
              type="email "
              class="email_box"
              name="email"
              formControlName="email"
              placeholder="Votre email"
              key="email-input"
              required
            />
          </div>
          <div class="object input">
            <input
              type="text"
              class="object_box"
              name="object"
              formControlName="object"
              placeholder="Objet"
              autocomplete="email"
              required
            />
          </div>
          <div class="comments_block textarea">
            <textarea
              class="comments"
              name="comments"
              formControlName="comments"
              placeholder="Votre message"
              rows="4"
              maxlength="500"
              required
            ></textarea>
          </div>

          <div class="submit_block">
            <button
              id="liveAlertBtn"
              type="submit"
              class="submit btn btn-primary"
            >
              Envoyer
            </button>
            <div id="liveAlertPlaceholder"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>