.title {
    background-color: #cd2c2e;
    color: #fff;
    width: 50%;
    padding: 10px;
    padding-right: 20px;
    margin: 20px;
  }
  
  hr {
    width: 15%;
    height: 2px;
    background-color: #fff;
    opacity: 1;
  }
  
  select {
    width : 300px;
  }
  
  .research {
    margin: 30px;
  }
  
  .select-category {
    margin: 20px;
  }
  
  .search {
    margin: 20px;
  }
  
  .form-control::placeholder {
    color: #cd2c2e;
  }
  
  .button {
    background-color: #fff !important;
    border: none;
  }
  
  .search-icon {
    width: 30px;
  }
  
  .container-cards {
    margin-top: 90px;
  }
  
  .card {
    background-color: #f1f8fc;
    color: #00497c;
  }
  
  .name-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .note {
    background-color: #0074c7;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 5px;
    margin: 10px;
    margin-left: 0px;
  }
  
  .note p {
    margin: 10px;
    margin-right: 15px;
  }
  
  .stars {
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
  }
  
  .star {
    width: 20px;
  }
  
  .location {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .location p {
    margin: 10px;
    margin-left: 0px;
  }
  
  .location-icon {
    width: 30px;
  }
  
  .opinion-btn {
    display: flex;
  }
  .btn-primary {
    background-color: #82b864;
  }